[Unit]
Description=Connection Service for Watson IoT
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
#User=pi
WorkingDirectory=/home/pi/Desktop
ExecStart=python connectDevice.py
Restart=always

[Install]
WantedBy=multi-user.target


